@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
#header{
    width: 100%;
    background-size: cover;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #1E90FF;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #1E90FF ;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#head_text p{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 1.5rem;
    padding-top: 5px;
    margin-top: 0px;
    background-color: #1E90FF;
    color: white;
}
.feature-header{
    color: black;
    font-size: 2rem;
}
.searchbox #header{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 35px;
    /* margin-left: 36.5%; */
    
}
.searchbox #header p{
    font-size: 18px;
    font-weight: 400;
    /* margin-left: 81px; */
}
.welcome #header span{
    font-size: 1.5rem;
    font-weight: bold;
}
.welcome #header{
    margin-top: 4%;
}
.get-started #btn{
    background-color: #1E90FF;
    padding: 15px 30px 15px 30px;
    color: white;
    border:#1E90FF;
    margin-top: 25px;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

.get-started #btn:hover{
    background-color: #1a74cd;
}
.searchbox #search{
    width:100% ;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
form{
    background: #fff;
    width:600px ;
    height: 60px;
    display: flex;
}
form div{
    flex: 1;
    border: 1px solid gray;
    outline: none;
    padding-left: 10px;
    display: flex;
    
}
form button{
   background:#1E90FF;
   padding: 10px 40px; 
   border: none;
   outline: none;
   color: white;
   letter-spacing: 1px;
   cursor: pointer;
   font-size: 16px;
}
form input {
    border: none;
    width: 100%;
    outline: none;
}

.fa-solid{
    align-self: center;
    padding: 10px ;
    color: black;
    
}